<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
{%- include head.html -%}

<body>
<div class="flexWrapper">
  {%- include header.html -%}

  <div class="content vertical">
    <main class="main">
      <div class="indexWrapper">
        <div>
          <h1 class="indexHeader">
            <span style="color: #fe0000">
              {{ site.author.name }}
            </span>
            <div class="authorPronouns">
              <h3 href="" class="typewrite"
                 data-period="2000"
                 data-type='[ "YouTube Editor", "Software Engineer", "Competitive Shooter", "Journalist", "Commentator" ]'>
                <span class="wrap"></span>
              </h3>
            </div>
          </h1>
        </div>
        {%- if site.termina-plex.social_links -%}
        <div class="socialNavbar">
          <ul>
            {%- for link in site.termina-plex.social_links -%}
            {%- if link.rel -%}
            <li>
              <a href="{{ link.url }}" rel="{{ link.rel }}">{{ link.name }}</a>
            </li>
            {%- else -%}
            <li>
              <a href="{{ link.url }}">{{ link.name }}</a>
            </li>
            {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
        {%- endif -%}
      </div>
    </main>
  </div>

  {%- include footer.html -%}
</div>

<script src="{{ '/assets/js/theme.js' | relative_url }}"></script>
<script>
  var TxtType = function(el, toRotate, period) {
    this.toRotate = toRotate;
    this.el = el;
    this.loopNum = 0;
    this.period = parseInt(period, 10) || 2000;
    this.txt = '';
    this.tick();
    this.isDeleting = false;
  };

  TxtType.prototype.tick = function() {
    var i = this.loopNum % this.toRotate.length;
    var fullTxt = this.toRotate[i];

    if (this.isDeleting) {
      this.txt = fullTxt.substring(0, this.txt.length - 1);
    } else {
      this.txt = fullTxt.substring(0, this.txt.length + 1);
    }

    this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

    var that = this;
    var delta = 100 - Math.random() * 100;

    if (this.isDeleting) { delta /= 2; }

    if (!this.isDeleting && this.txt === fullTxt) {
      delta = this.period;
      this.isDeleting = true;
    } else if (this.isDeleting && this.txt === '') {
      this.isDeleting = false;
      this.loopNum++;
      delta = 500;
    }

    setTimeout(function() {
      that.tick();
    }, delta);
  };

  window.onload = function() {
    var elements = document.getElementsByClassName('typewrite');
    for (var i=0; i<elements.length; i++) {
      var toRotate = elements[i].getAttribute('data-type');
      var period = elements[i].getAttribute('data-period');
      if (toRotate) {
        new TxtType(elements[i], JSON.parse(toRotate), period);
      }
    }
    // INJECT CSS
    var css = document.createElement("style");
    css.type = "text/css";
    css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
    document.body.appendChild(css);
  };
</script>
</body>
</html>
